.detail_con{
    position: relative;
    width:1140px;
    margin: auto;
    /*background: #fafafa;*/
}
.detail_con h3{
    font-weight: normal;
    font-size: 18px;
    color: #2dbd99;
    margin-left: 40px;
    margin-bottom: 30px;
}
.detail_con .detail_tittle{
    width: 1100px;
    padding-left: 40px;
    font-size: 14px;
    color: #2dbd99;
    border-bottom: 1px solid #2dbd99;
}
.detail_con .detail_tittle span{
    display: inline-block;
    padding: 5px 7px 5px;
    border: 1px solid #2dbd99;
    border-bottom: none;
    margin-right: 10px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}
.detail_con .detail_tittle span.hover{
    color: #fff;
    background: #2dbd99;
}
.detail_con .content{
    width: 100%;
    background: #fafafa;
    padding-top: 30px;
}
.detail_con .content2,.detail_con .content3{
    display: none;
    height: 600px;
}
.detail_con .content2{
    text-align: center;
    line-height: 600px;
}
.detail_con .content3{
    padding-top: 30px;
}
.detail_con .content3 span{
    display: inline-block;
    width: 355px;
    height: 46px;
    border: 1px solid #ccc;
    margin-left: 70px;
    line-height: 46px;
    text-indent: 20px;
    float:left;
}
.detail_con .content h2{
    font-size: 14px;
    color: #555555;
    margin: 0 0 30px 45px;
}
.detail_con .content .detail_info{
    width: 1128px;
    border-top:1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-left: 5px;
    margin-bottom: 30px;
}
.detail_con .content .detail_info li{
    float: left;
    width: 563px;
    height: 46px;
    /*line-height: 46px;*/
    border: 1px solid #e5e5e5;
    border-top:none;
    border-right: none;
}
.detail_con .content .detail_info li b,.detail_con .content .detail_info li span{
    float:left;
    height: 46px;
    line-height: 46px;
    text-indent: 40px;
}
.detail_con .content .detail_info li b{
    width: 120px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    text-indent: 0;
    /*font-size: 14px;*/
    color: #555555;
}
.detail_con .content .detail_info li span{
    width: 442px;
    margin-top: 0;
    color: #777777;
    white-space:nowrap;
    text-overflow:ellipsis; 
    overflow:hidden; 
}
.detail_con .content div{
    width: 1048px;
    padding: 20px 40px;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
    margin-left: 5px;
    color: #777777;
    line-height: 30px;
    text-align: justify;
    font-size: 14px;
}
.detail_con .nav_left{
    position: fixed;
    top: 550px;
    left: 48%;
    margin-left: -655px;
}
.detail_con .nav_left li{
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #2dbd99;
    color: #2dbd99;
    margin-bottom: 7px;
    border-radius: 3px;
    font-size: 14px;
    cursor:pointer;

}
.detail_con .nav_left li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #2dbd99;
    background: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.detail_con .nav_left li a.bg{
    color: #fff;
    background: #2dbd99;
}
.detail_con .nav_left li.patent_backTop{
    padding-top: 2px;
    background: #2dbd99;
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    font-size: 14px;
}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.content4{
	padding: 30px 0;
	display:none;
	min-height:150px;
	text-align: center;
}
.content4 img{
    width: 540px;
    margin:  auto;
}
/*.detail_con .nav_left li.patent_backTop img{*/
    /*height: 24px;*/
/*}*/
/*Ã¥Ë†â€ Ã¤ÂºÂ«*/
.wrap{
	width:1200px;
	min-width:1200px;
	height:40px;
	margin:auto;
	margin-top:30px;
}
.share{
	float:right;
	width: 185px;
}
.share>span{
	float:left;
	margin-right: 8px;
	line-height: 25px;
}

.pl-list{
    margin: 20px 20%;
}

.pl-list h2{
    font-size: 18px;
    font-weight: 400;
    color: #666;
    margin-top:0;
}

.pl-page-box{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.pl-page-box span{
    flex: .1;
    color: #999
}
.pl-page-box p{
    flex: .9;
    margin: 0;
}
.pl-page-time span{
    float: right;
    color: #999
}
.pl-page-time{
    width: 100%;
    overflow: hidden;
    margin-top:10px 
}
/*评论*/
.pinglunBox{
    margin:20px 20%;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    overflow: hidden;
}
.pinglunBox h2{
    font-size: 18px;
    font-weight: 400;
    color: #666;
    margin-top:0;
}
.pinglun-box{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.submitPl{
    width: 80px;
    background: #f63;
    color:#fff;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin:10px 50px;
    float: right;
    cursor: pointer;

}
.pinglun-box .pinglunInset{
    flex:1;
}

@media screen and (min-width:300px) and (max-width:700px) {
   .top{
        display: none;
    }
    #Contact{
        display:none;
    }
    .pros_a {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }
    .detail_con {
        position: relative;
        width: 100%;
        margin: auto;
        /* background: #fafafa; */
    }
    .detail_con .detail_tittle {
        width: 90%;
        padding-left: 40px;
        font-size: 14px;
        color: #2dbd99;
        border-bottom: 1px solid #2dbd99;
    }
    .nav_left{
        display:none;
    }
    .news_nbottom_a {
        width: 90%;
        height: auto;
        text-align: center;
        margin: 0 auto;
        padding-top: 50px;
        font-size: 36px;
        color: #464646;
    }
    .news_nbottom_a p{
        font-size: 20px
    }
    .kdf,.foot,.pinglunBox,.pl-list,.ku_clid{
        display: none;
    }

    .detail_con .content .detail_info {
        width: 100%;
        border-top: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        margin-left: 5px;
        margin-bottom: 30px;
    }
    .detail_con .content div {
        width: 83%;
        padding: 10px 20px;
        border: 1px solid #e5e5e5;
        margin-bottom: 30px;
        margin-left: 5px;
        color: #777777;
        line-height: 30px;
        text-align: justify;
        font-size: 14px;
    }
    .pinglunBox h2 {
        font-size: 15px;
        font-weight: 400;
        color: #666;
        margin-top: 0;
    }
    .detail_con .content .detail_info li span {
        width: 63%;
        margin-top: 0;
        color: #777777;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    detail_con .content .detail_info li b {
        width: 30%;
        border-right: 1px solid #e5e5e5;
        text-align: center;
        text-indent: 0;
        font-size: 12px;
        color: #555555;
    }
    .detail_con .content .detail_info li {
        width: 95%;
        height: 46px;
        border: 1px solid #e5e5e5;
        border-top: none;
    }
    body {
         padding-bottom: 0px; 
    }

    .detail_con h3 {
        font-weight: normal;
        font-size: 16px;
        color: #2dbd99;
        margin: 8px 20px;
    }
    .loadingbox{
        width: 100px;
        height: 100px;
        background: rgba(20,20,20,.8);
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 20px;
        transform: translateY(-50%) translateX(-50%);
    }
}
